*{
    margin: 0;
    padding: 0;
}

.semaforo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#green{
    background-color: lightgreen;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

#yellow{
    background-color: rgb(255, 255, 158);
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

#red{
    background-color: rgb(255, 112, 112);
    height: 50px;
    width: 50px;
    border-radius: 50px;
}